<div id="event" class="container-fluid" data-aos-duration="1000">
    <div class="row part-1">
        <div class="col-md-2"></div>
        <div class="col-md-4 sec-1" data-aos="fade-right" data-aos-duration="2000">
            <h2 class="sec-1">
                <mat-icon>calendar_today</mat-icon> Upcoming Events
            </h2>
            <br>
            <h2 class="sec-2">
                <a href="#">"The Law Demands, but Grace Supplies" — Pastor  </a>
            </h2>

        </div>
        <div class="col-md-4 sec-3" data-aos="fade-left" data-aos-duration="2000">
            <h3 class="timer">
                <p>{{ EventTimer }}</p>
            </h3>
            <br>
            <button type="button" class="btn">Join our event</button>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row part-2">
        <div class="col-md-2"></div>
        <div class="col-md-8 sec 3">
            <h3 class="text-center" data-aos="zoom-in" data-aos-duration="2000">
                "For the Lord is good and his love endures forever; his faithfulness continues through all generations."
            </h3>
            <br>
            <br>
            <h4 class="font-weight-bold text-center">
                — Psalm 100:5 KJV
            </h4>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>