<section id="about-us">
    <div class="container">
        <div class="col text-center title" data-aos="fade-down" data-aos-duration="3000">
            <h1> About Us </h1>
        </div>
        <div class="containter">
            <div class="row">
                <div class="col-sm-10 col-md-6" data-aos="fade-right" data-aos-duration="3000" style="margin: 50px 0;">
                    <img src="assets/3.JPG" class="shadow-lg mb-5 rounded img-fluid" alt="something">
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-duration="3000" style="margin: 40px 0;">
                    <div class="row">
                        <h2 style="text-align: center;">CSI REDEEMERS CHURCH</h2>
                        <p>Far far away,creative behind the word mountains, far from the countries Vokalia and Consonantia, there live the success blind texts. Separated they live in Bookmarksgrove A small river named Duden flows by their place and supplies
                            it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    </div>
                    <div class="row text-center">
                        <div class="col-sm-4">
                            <img src="assets/pic_1.jpeg" class="rounded-circle shadow-lg mb-2  bg-white rounded" alt="Cinque terre" width="150" height="150">
                            <h3>Charlie</h3>
                            <p>Youth Member</p>
                        </div>

                        <div class="col-sm-4">
                            <img src="assets/pic_2.jpeg" class="rounded-circle shadow-lg mb-2 bg-white rounded" alt="Cinque terre" width="150" height="150" data-holder-rendered="true">
                            <h3>Asif Timothy</h3>
                            <p>PC member</p>
                        </div>
                        <div class="col-sm-4">
                            <img src="assets/pic_3.jpeg" class="rounded-circle shadow-lg mb-2 bg-white rounded" alt="Cinque terre" width="150" height="150">
                            <h3>Santhosh</h3>
                            <p>Youth Member</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row text-center" data-aos="fade-up" data-aos-duration="3000">
            <div class="col-md-3">
                <div class="shadow-lg mb-5 counter">
                    <!-- <i class="material-icons count-title">groups</i> -->
                    <h2 class="timer count-title count-number" data-to="100" data-speed="1500">1000</h2>
                    <p class="count-text ">Members</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg mb-5  counter">
                    <!-- <i class="material-icons count-title">groups</i> -->
                    <h2 class="timer count-title count-number" data-to="1700" data-speed="1500">5</h2>
                    <p class="count-text ">Churches</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg mb-5  counter">
                    <!-- <i class="material-icons count-title">groups</i> -->
                    <h2 class="timer count-title count-number" data-to="11900" data-speed="1500">John Baskar</h2>
                    <p class="count-text ">Pastor</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="shadow-lg mb-5  counter">
                    <!-- <i class="material-icons count-title">groups</i> -->
                    <h2 class="timer count-title count-number" data-to="157" data-speed="1500">50000</h2>
                    <p class="count-text ">Donation</p>
                </div>
            </div>
        </div>

    </div>
</section>