<div id="services" class="container-fluid">
    <div class="row">
        <div class="col-md-1">
        </div>

        <!-- upcoming events -->

        <div class="col-md-6 py-5">
            <div class="row">
                <!-- part - 1 -->
                <div class="col-md-12" data-aos="fade-up" data-aos-duration="1000">
                    <h2 class="mb-2">Upcoming Sermons</h2>
                    <span class="subheading">Sunday Services</span>
                </div>

                <!-- part - 2 -->
                <div class="col-md-6 img rounded shadow-md" style="background-image: url(assets/post1.JPG);" data-aos="fade-right" data-aos-duration="2000"></div>
                <div class="col-md-6 text pl-md-5" data-aos="fade-right" data-aos-duration="2000">
                    <h2 class="mb-3"><a href="#">The Fasting Days</a></h2>
                    <div class="meta">
                        <p>
                            <span><i class="material-icons mr-2">calendar_today</i> Sunday, 8:00 Am, 14-2-21</span><br>
                            <span><i class="material-icons mr-2">gps_fixed</i> <a class="mr-3" href="#">CSI Redeemers Church</a></span><br>
                            <span><i class="material-icons mr-2">location_city</i> John Baskar </span>
                        </p>
                    </div>
                    <p><a href="#" class="btn">Read more</a></p>
                </div>
                <div class="col-md-6 img rounded shadow-md" style="background-image: url(assets/post3.JPG);" data-aos="fade-right" data-aos-duration="2000"></div>
                <div class="col-md-6 text pl-md-5" data-aos="fade-right" data-aos-duration="2000">
                    <h2 class="mb-3"><a href="#">How Lent Prepares Us for What Is Lost</a></h2>
                    <div class="meta">
                        <p>
                            <span><i class="material-icons mr-2">calendar_today</i> Sunday, 8:00 Am, 21-2-2021</span><br>
                            <span><i class="material-icons mr-2">gps_fixed</i> <a class="mr-3" href="#">CSI Redeemers Church</a></span><br>
                            <span><i class="material-icons mr-2">location_city</i> Mahimai Rufus</span>
                        </p>
                    </div>
                    <p><a href="#" class="btn">Read more</a></p>
                </div>
            </div>
        </div>

        <!-- Recent sermons -->

        <div class="col-md-4 d-flex align-items-stretch shadow-lg mb-5 rounded" data-aos="fade-up" data-aos-duration="1000">
            <div class="subsermon p-5">
                <h2 class="heading mb-5">Recent Sermons</h2>
                <div class="sermon-wrap mb-4">
                    <a href="#" class="imgs mb-3" style="background-image: url(assets/post2.JPG);"></a>
                    <div class="text">
                        <h2 class="mb-4"><a href="#">Lord is Sufficient for all of our needs</a></h2>
                        <div class="meta">
                            <p>
                                <span>Sermon from: <a href="#" class="ptr">Babu Masilamani</a></span><br><br>
                                <span>Categories:  <a href="#">Ash Wednesday</a></span><br><br>
                                <span>Date: <a href="#">On Sunday 13 Jan, 2019</a></span>
                            </p>
                        </div>
                    </div>
                </div>
                <a href="#" class="sermon-wrap sermon-wrap-2 d-flex align-items-start py-3 ftco-animate fadeInUp ftco-animated">
                    <div class="icon">
                        <span class="icon-play"></span>
                    </div>

                    <div class="desc">
                        <span>Topic: <h2>Fruit of the Spirit</h2></span>
                        <span class="time">Duration:<h2> 20:30 mins</h2></span>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>